body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('caminho-da-imagem.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}
